* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
em,
b,
a {
    font-size: 12px;
}

.w1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}


/* form 表单元素 */

input {
    margin: 0;
    padding: 0;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    color: #ccc;
}

input[type=submit],
input[type=button] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}


/*语义化标签*/

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

b,
strong {
    font-weight: bolder;
}